.appcloud
.appcloud/.project
.python-version
.settings
.sfdx
/browser_tests
/test_results.xml
build.properties
salesforce.schema
src-orig/layouts/Global-Global Layout.layout
src-orig/profiles/Customer Community Login User.profile
src-orig/profiles/Customer Community User.profile
src-orig/profiles/Partner Community Login User.profile
src-orig/profiles/Partner Community User.profile
src-orig/workflows/User.workflow
**/.sfdx/
**/.vscode/
.cci
test_results.*
.idea
*.iml